################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyTestLibrary
/MyTestLibrary/.vs
/MyTestLibrary/bin
/MyTestLibrary/obj
